@charset "UTF-8";

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-variant: small-caps;
}

* {
    margin: 0%;
    padding: 0%;
    line-height: 2em;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.image {
    background-color: rgb(56, 56, 56);
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.image p {
    background-color: black;
    width: 400px;


}