@charset "UTF-8";

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

* {
    margin: 0px;
    padding: 0px;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

#burguer {
    display: block;
    background-color: rgb(70, 70, 70);
    text-align: center;
}

#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


menu {
    display: none;
}


menu a {
    background-color: rgb(83, 83, 83);
    color: white;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
    display: block;
    text-align: center;

}

menu a:hover {
    background-color: grey;
}


body {
    background-color: lightgray;
}

main {
    background-color: white;
    border-radius: 5px;
    width: 80vw;
    margin-top: 50px;
    margin: auto;
    padding-bottom: 40px;

}

main p, h2 {
    margin: 10px;
}

main p {
    text-align: justify;
}

a {
    text-decoration: none;
}

img {
    width: 70vw;
    margin: auto;
    text-align: center;
    display: block;
}
