@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


:root {
    --font1:Verdana, Geneva, Tahoma, sans-serif;
    --font2:'Castoro Titling', cursive;
    --font3:'Rancho', cursive;
}

h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    color: white;
    padding: 50px;
    font-size: 3vw;

    
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
}


html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);


}

header {
    text-align: center;
    background-color: black;
    color: white;
}

header a {
    text-decoration: underline overline;
}

header > p {
    padding-bottom: 20px;
}

header a:visited {
    color: white;
}

section {
    font-family: 'Rancho', cursive;
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.texto {
    background-color: white;
}

.imagem {
    background-color: darkslategrey;
    color: white;
    box-shadow: inset 6px 6px px 13x 39px black;
}

section p {
    padding-bottom: 1.5em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.548);
    display: inline-block;
    padding: 10px;
}

p >abbr {
    text-decoration: underline;
}

#img01 {
    background-image: url(imagens/1.jpg);
    background-size: cover;
    background-attachment: fixed;

}

#img02 {
    background-image: url(imagens/3.jpg);
    background-size: cover;


}

footer {
    background-color: black;
    color: white;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    padding: 10px;
    text-align: center;
}

footer a, footer a:visited {
    color: darkorchid;
}

